<div id="modal" class="d-flex-col justify-between fixed top-0 left-0 w-screen h-screen" style="z-index: -100;">
    <div></div>
    <div id="modal-container" class="mx-auto px-3">
        <div class="container max-w-2xl shadow-lg">
            <div class="bg-white px-5 pt-4 pb-3 rounded-tl-lg rounded-tr-lg d-flex-row">
                <div class="mr-3 flex-initial">
                    <div id="modal-icon" class="h-12 w-12 p-2 rounded-full">

                    </div>
                </div>
                <div class="flex-1">
                    <h1 id="modal-title" class="font-semibold text-lg text-black"></h1>
                    <p id="modal-description" class="text-base text-gray-600"></p>
                </div>
            </div>
            <div class="bg-neutral-200 px-5 py-3 rounded-bl-lg rounded-br-lg flex justify-between">
                <div></div>
                <div id="modal-buttons" class="d-flex-row grid gap-3">
                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>