<html lang="en-US">
<head>
    <title>mooi.ng dashboard</title>
    <%- include('models/header.ejs', {image: false}) %>
</head>
<body class="min-h-screen">
<%- include('models/dashboardNavbar.ejs', {user}) %>
</body>
</html>