<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Uploader - a image host</title>
    <%- include('models/header.ejs', {image: false, production}) %>
    <script src="/static/js/index.js"></script>
</head>
<body class="min-h-screen">
<%- include('models/navbar.ejs') %>
<div class="container max-w-8xl mx-auto pt-10 sm:pt-14 md:pt-16 lg:pt-20 pb-5 px-5 relative">
    <section class="my-16 transition-on-load">
        <p class="font-bold text-white mb-2">
            <b class="text-5xl md:text-6xl lg:text-7xl"><span class="gradient bg-text-gradient-logo">Uploader</span></b>
        </p>
        <p class="font-normal theme-color">
            <b class="text-2xl sm:text-3xl">A modern ShareX image host.</b>
        </p>
    </section>
</div>
<div class="spacer p200"></div>
<div id="feature-container">
    <div class="container max-w-6xl mx-auto px-6">
        <p class="font-bold text-center text-black mb-6 md:mb-16 transition-on-load">
            <span class="feature-text text-3xl sm:text-4xl md:text-5xl"></span>
        </p>
        <section class="relative d-flex-row flex-wrap-i transition-on-load mb-12 md:mb-20">
            <div class="w-auto flex-none mb-2 order-2">
                <img src="/static/img/speedometer.svg" alt="" class="hidden md:inline-block align-middle rounded-xl max-w-full max-h-28 sm:max-h-36 md:max-h-48 h-full w-full mx-auto">
            </div>
            <div class="flex-1 mb-0 mr-8 order-1">
                <h1 class="text-blue-800 font-bold text-3xl mb-2">Bypass Discord upload limits</h1>
                <p class="text-gray-600 text-lg">Instead of being confined to 8MB upload limits (without Nitro), upload files up to 100MB for <b>free</b>!</p>
            </div>
        </section>
        <section class="relative d-flex-row flex-wrap-i transition-on-load mb-12 md:mb-20">
            <div class="w-full md:w-auto flex-none mb-2 order-2 md:order-1">
                <img src="https://uploader.tech/raw/WTwq8k2JW.png" alt="" class="shadow-xl rounded-xl md:hidden max-w-full">
                <img src="https://uploader.tech/raw/7vtZZgBOz.png" alt="" class="shadow-xl rounded-xl hidden md:inline-block md:max-w-md lg:max-w-lg lg:max-w-xl 2xl:w-full">
            </div>
            <div class="flex-1 md:text-right order-1 md:order-2 mb-6 md:mb-0 md:ml-8">
                <h1 class="text-blue-800 font-bold text-3xl mb-2">Fully featured control panel</h1>
                <p class="text-gray-600 text-lg">Adjust every aspect of your images with just one click.<br>Change Discord embed settings, image domains, URL settings and more all from one page.</p>
            </div>
        </section>
        <section class="relative d-flex-row flex-wrap-i transition-on-load mb-12 md:mb-20">
            <div class="w-full md:w-auto flex-none mb-2 order-2">
                <img src="https://uploader.tech/raw/80Ii06WSJ.png" alt="" class="shadow-xl rounded-xl md:hidden max-w-full">
                <img src="https://uploader.tech/raw/8pEStj6p1.png" alt="" class="shadow-xl rounded-xl hidden md:inline-block md:max-w-md lg:max-w-lg lg:max-w-xl 2xl:w-full">
            </div>
            <div class="flex-1 order-1 mb-6 md:mb-0 md:mr-8">
                <h1 class="text-blue-800 font-bold text-3xl mb-2">Custom embeds</h1>
                <p class="text-gray-600 text-lg">Create custom embeds to show off your image! See how your embed will look while editing it.</p>
            </div>
        </section>
        <div>
            <h1 class="text-2xl font-semibold text-center mb-16 transition-on-load">There's more...</h1>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4" id="feature-list">
                <div class="transition-on-load">
                    <h1>Custom subdomains.</h1>
                    <p>Get a free subdomain on <b class="font-semibold">is-trolli.ng</b> and customize your image link!</p>
                </div>
                <div class="transition-on-load">
                    <h1>Blazing fast.</h1>
                    <p>Unmetered upload and download speeds along with NVMe storage provide an unparalleled experience.</p>
                </div>
                <div class="transition-on-load">
                    <h1>Reliable.</h1>
                    <p>With 99.99% uptime, you will be able to upload and view screenshots anytime, anywhere.</p>
                </div>
                <div class="transition-on-load">
                    <h1>Simple to use.</h1>
                    <p>Generate ShareX configs in just one click! No need to mess around with settings.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacer p200"></div>
<section class="relative">
    <div class="custom-shape-divider">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
        </svg>
    </div>
</section>
<div class="spacer p200"></div>
<div class="p-10 bg-shape">
    <div class="container max-w-8xl mx-auto transition-on-load">
        <p class="text-center font-bold text-white mb-5 text-3xl sm:text-4xl">Stats</p>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-0 mx-3" id="stats">
            <div class="rounded-lg md:rounded-none">
                <h1>Users</h1>
                <p id="users" class="animate-pulse h-2 mt-2"></p>
            </div>
            <div class="rounded-lg md:rounded-none">
                <h1>Uploads</h1>
                <p id="uploads" class="animate-pulse h-2 mt-2"></p>
            </div>
            <div class="rounded-lg md:rounded-none">
                <h1>Storage used</h1>
                <p id="storage" class="animate-pulse h-2 mt-2"></p>
            </div>
        </div>
    </div>
</div>
<div class="bg-blue-100">
    <section class="relative">
        <div class="custom-shape-divider-2">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <div class="spacer p400"></div>
    <div class="text-center transition-on-load">
        <h1 class="text-3xl mb-2"><span class="text-bright-cyan gradient font-bold">Start sharing today!</span></h1>
        <button class="px-4 py-2 rounded-md bg-sky-500 text-white font-semibold login">Log In</button>
    </div>
    <div class="spacer p300"></div>
</div>
</body>
</html>