<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Unknown image - Uploader</title>
    <%- include('models/header.ejs', {image: false, production}) %>
</head>
<body class="bg-stone-800">
<%- include('models/navbar') %>
<div class="flex justify-center m-5">
    <div class="w-100 p-5 bg-slate-200 shadow-md rounded-lg">
        <h1 class="text-red-500 text-xl md:text-2xl lg:text-3xl font-normal">file not found :(</h1>
    </div>
</div>
</body>
</html>