<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Unknown image - Uploader</title>
    <%- include('models/header.ejs', {image: false, production}) %>
</head>
<body>
<%- include('models/navbar') %>
<div class="flex justify-center m-5">
    <div class="content">
        <p class="text-red-500 text-xl md:text-2xl lg:text-3xl font-semibold">file not found :(</p>
    </div>
</div>
</body>
</html>