<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>mooi.ng dashboard</title>
    <%- include('models/header.ejs', {image: false}) %>
</head>
<body class="d-flex-col min-h-screen w-full">
<%- include('models/dashboardNavbar.ejs', {user}) %>
<div class="p-5">Sorry, this service is currently whitelisted. Join our <a class="link" href="<%= discordInvite %>" target="_blank" rel="noopener noreferrer">Discord</a> to get a chance at being whitelisted!</div>
</body>
</html>